<form [formGroup]='resetPasswordForm' (ngSubmit)="resetPasswordForm.valid && resetPassword()" autocomplete="off">
    <h2 class="text-center text-primary">Reset Password</h2>
    <hr>
    <div class="form-group">
        <input
            [class.is-invalid]='resetPasswordForm.get("currentPassword").errors && resetPasswordForm.get("currentPassword").touched'
            type="password" class="form-control" formControlName='currentPassword' placeholder="Current Password">
        <div class="invalid-feedback">Please enter current password</div>
    </div>
    <div class="form-group">
        <input
            [class.is-invalid]='resetPasswordForm.get("confirmCurrentPassword").errors && resetPasswordForm.get("confirmCurrentPassword").touched'
            type="password" class="form-control" formControlName='confirmCurrentPassword'
            placeholder="Confirm Current Password">
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('confirmCurrentPassword').hasError('required')">
            Please enter confirm current password</div>
        <div class="invalid-feedback" *ngIf="resetPasswordForm.get('confirmCurrentPassword').hasError('isMatching')">
            Confirm password must match password</div>
    </div>
    <div class="form-group">
        <input
            [class.is-invalid]='resetPasswordForm.get("newPassword").errors && resetPasswordForm.get("newPassword").touched'
            type="password" class="form-control" formControlName='newPassword' placeholder="New Password">
        <div class="invalid-feedback">Please enter new password</div>

    </div>

    <div class="form-group text-center">
        <button [disabled]='!resetPasswordForm.valid' class="btn btn-success mr-2" type="submit">Reset Password</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>